body {
  background-color: #464BBC;
}

header {
  height: 117px;
  flex-shrink: 0;
  border: 2px solid #794949;
  background: #1E1E1E;
}

.menu {
  border-radius: 20px;
  background: #464BBC;
  display: flex;
  width: 134px;
  height: 36px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #1E1E1E;
  text-align: center;
  font-family: Karla;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 40px 601px 41px 27px;
  text-decoration: none;
}

.secM {  
  
}
