body {
  background-color: #464BBC;
}

header {
  height: 117px;
  flex-shrink: 0;
  border: 2px solid #794949;
  background: #1E1E1E;
}

header a {
  border-radius: 20px;
  background: #464BBC;
  width: 134px;
  height: 36px;
  flex-shrink: 0;
}
