body {
  background-color: #464BBC;
}

header {
  border: 5px solid #794949;
  background-color: #1E1E1E;
  height: 117px;
}

header a {
  border-radius: 20px;
  background: #464BBC;
  width: 134px;
  height: 36px;
  flex-shrink: 0;
}
